<h1>EDIT <u>{{todo.todo_title}}</u> TODO</h1>


<table>
    <tr>
        <th><div style="">TITLE: </div></th>
        <td><input size=133 style="font-size: 20px;" type="text" value="{{todo.todo_title}}"></td>
    </tr>
    <tr>
        <th>DEADLINE</th>
        {% 
            todo_date = todo.deadline 
            todo_time = todo.deadline 
        %}
        <td><input type="date" value=""> <input type="time"></td>
    </tr>
    <tr>
        <th>CONTENTS: </th>
        <td><textarea type="text" style="font-size: 15px; height: 500px; width: 1200px;">{{todo.todo_content}}</textarea></td>
    </tr>
    <tr>
        <th></th>
        <td>
            <table>
                <td>
                    <form action="/todo/">
                        <button style="font-size: 20px">CANCEL</button>
                    </form>
                </td>
                <td>
                    <form action="{% url 'todo:save' todo.id %}" method="POST">
                        {% csrf_token %}
                        <button name="passtodo" style="font-size: 20px" type="submit" value="{{[todo.todo_title, todo.todo_content]}}">SAVE</button>
                        <label 
                    </form>
                </td>
            </table>
        </td>
    </tr>
</table>

